html,body {
	width: 100%;
	height:100%;
	margin:0;
	padding:0;
	pointer-events: all;
	cursor: default;
	font-family: Arial, Helvetica, sans-serif;
}

.selectedCharImg{
	max-width: 4.5vw;
	max-height: 4.5vw;
	display: inline;
	padding: 1px;
}

.dominantCharImg{
	max-width: 20vw;
	max-height: 20vw;
	display: inline;
	padding: 1%;
}

.ov_wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	pointer-events: none;
}

.ov_container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: stretch;

	margin: 10px;
	padding: 5px;

	background: linear-gradient(#008000, #003300);
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

.ov_display {
	display: flex;
	flex-flow: row nowrap;
	margin: auto;
	justify-content: center;
	flex: 5 5 auto;

	border-style: solid;
	border-width: 3px;
	border-top-color: #063314;
	border-left-color: #063314;
	border-right-color: #2bc15e;
	border-bottom-color: #2bc15e;
}

.ov_side {
	display: flex;
	flex-flow: column nowrap;
	flex: 2 2 auto;

	align-content: space-around;
	justify-content: space-around;
	overflow:hidden;

	width: 15vw;
	padding: 0px 8px;
}

.ov_dominant {
	display: flex;
	flex-flow: column nowrap;
	flex: 2 2 auto;

	align-content: space-around;
	justify-content: space-around;
	overflow:hidden;

	width: 65.5vw;
	padding: 0px 8px;
}

.ov_stripe {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	flex: 1 1 auto;
}

.ov_item {
	flex: 1 1 auto;
	background-color: #000000;
}

.ov_label {
	flex: 0 0 auto;
	padding: 12px 2px;
	text-align: left;

	color: #000000;
	font-weight: 900;
}

.ov_sublabel {
	flex: 0 0 auto;
	padding: 0 15px;
	text-align: left;
	font-size: 1.6vh;
	color: #000000;
	font-weight: 900;
}

.ov_info {
	color: #f9ecec;
	font-weight: normal;
	text-shadow: 0 0 3px #4e1818;
}

.ov_list {
	pointer-events: all;
	flex: 20 20 auto;
	background-color: #f9ecec;
	box-shadow: inset 0 0 4px 1px #000000;
	align-self: center;

	max-height: 250px;

	margin: 12px 2px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 90%;
}

.ov_list_item {
	pointer-events: all;
	background-color: transparent;
	transition: background-color 1s;
	padding: 2px 16px 2px 4px;
}

.ov_list_item:hover {
	background-color: #d27979;
}

.ov_ctx {
	position: absolute;
	z-index: 9;
}

img {
	max-width:10vw;
	height: auto;
	display: block;
}
